<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DarkPan - Bootstrap 5 Admin Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/admin-files/img/favicon.ico" rel="icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/admin-files/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/admin-files/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->

        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="/admin" class="navbar-brand mx-4 mb-3">
                    <h5 class="text-success"><i class="fa fa-user-edit me-2"></i>ALPHA FASHION</h5>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="/admin-files/img/user.jpg" alt=""
                            style="width: 40px; height: 40px;">
                        <div
                            class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                        </div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Harikrishna N</h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="/admin" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>

                    <a href="/admin/user-list" class="nav-item nav-link"><i class="fa fa-th me-2"></i>User</a>


                    <a href="/admin/orders" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Orders</a>
                    <a href="/admin/category" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Category</a>
                    <a href="/admin/products" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Product</a>
                    <a href="/admin/banner" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Banner</a>
                    <a href="/admin/coupon" class="nav-item nav-link"><i class="far fa-file-alt me-2"></i>Coupon</a>

                    <a href="/admin/logout" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Logout</a>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <div class="content">
            <!-- Sale & Revenue Start -->
            <div style="min-height: 100vh;" class="container mt-5">
                <div class="row tm-content-row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
                        <div style="min-height: 1050px;" class="tm-bg-primary-dark tm-block tm-block-products">
                            <div style="margin-top: 50px; margin-bottom: 110px;" class="row">
                                <div class="col-12 col-lg-5 m-1">
                                    <div class="card radius-15 bg-voilet">
                                        <div class="card-body" style="background-color:#fefe46 ; opacity: 100%;">
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <h2 class="mb-0 text-white" id="orders"><i
                                                            class='bx bxs-up-arrow-alt font-14 text-dark'></i> </h2>
                                                </div>
                                                <div class="ms-auto font-35 text-white"><i class="bx bx-cart-alt"></i>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <p class="mb-0 text-dark">Orders Delivered</p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-5 m-1">
                                    <div class="card radius-15 bg-primary-blue">
                                        <div class="card-body" style="background-color:#43e2b2 ; opacity: 100%;">
                                            <div class="d-flex align-items-center">
                                                <div class="d-flex">
                                                    <h2 class="mb-0 text-dark">₹&nbsp;</h2>
                                                    <h2 class="mb-0 text-dark" id="profit"><i
                                                            class='bx bxs-down-arrow-alt font-14 text-white'></i> </h2>
                                                </div>
                                                <div class="ms-auto font-35 text-white"><i class="bx bx-support"></i>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <p class="mb-0 text-dark">Profit</p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-5 m-1">
                                    <div class="card radius-15 bg-rose">
                                        <div class="card-body" style="background-color: #71f351e9; opacity: 100%;">
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <h2 class="mb-0 text-dark" id="users"><i
                                                            class='bx bxs-up-arrow-alt font-14 text-white'></i> </h2>
                                                </div>
                                                <div class="ms-auto font-35 text-dark"><i class="bx bx-tachometer"></i>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <p class="mb-0 text-dark">Users</p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-5 m-1">
                                    <div class="card radius-15 bg-sunset">
                                        <div class="card-body" style="background-color: #4cc8e0;">
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <h2 class="mb-0 text-white" id="products"><i
                                                            class='bx bxs-up-arrow-alt font-14 text-white'></i> </h2>
                                                </div>
                                                <div class="ms-auto font-35 text-dark"><i class="bx bx-user"></i>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <p class="mb-0 text-dark">Products</p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <h3 class="text-center text-white m-4"><u>Total Sales</u></h3>
                            </div>

                            <div style="background-color: #f9ffc1d4;">
                                <canvas id="myChart" style="width:100%;max-width:1000px"></canvas>
                            </div>
                            <script>
                                window.addEventListener('load', (event))

                                $.ajax({
                                    url: '/admin/sales-report',
                                    method: 'get',
                                    success: ((response) => {

                                        document.getElementById('orders').innerHTML = response.noOfOrders;
                                        document.getElementById('users').innerHTML = response.noOfUsers;
                                        document.getElementById('profit').innerHTML = response.totalProfit;
                                        document.getElementById('products').innerHTML = response.noOfProducts;
                                        var xValues = [
                                            response.dateList[9],
                                            response.dateList[8],
                                            response.dateList[7],
                                            response.dateList[6],
                                            response.dateList[5],
                                            response.dateList[4],
                                            response.dateList[3],
                                            response.dateList[2],
                                            response.dateList[1],
                                            response.dateList[0]]
                                        new Chart("myChart", {
                                            type: "line",
                                            data: {
                                                labels: xValues,
                                                datasets: [{
                                                    data: [response.dateSales[9],
                                                    response.dateSales[8],
                                                    response.dateSales[7],
                                                    response.dateSales[6],
                                                    response.dateSales[5],
                                                    response.dateSales[4],
                                                    response.dateSales[3],
                                                    response.dateSales[2],
                                                    response.dateSales[1],
                                                    response.dateSales[0],
                                                    ],
                                                    backgroundColor: "grey",
                                                    borderColor: "blue",
                                                    fill: true,
                                                }
                                                ]
                                            },
                                            options: {
                                                legend: { display: false }
                                            }
                                        });
                                    })
                                })
                            </script>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Content End -->
        <!-- Back to Top -->
        <a href="/admin" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/chart/chart.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="/admin-files/js/main.js"></script>
</body>

</html>