<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>
<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Captura-The camera store</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->

    <!-- Font CSS -->

    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&amp;family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&amp;display=swap"
        rel="stylesheet">

    <!-- Vendor CSS (Bootstrap & Icon Font) -->
    <link rel="stylesheet" href="/user_files/css/vendor/bootstrap.min.css">

    <!-- Plugins CSS (All Plugins Files) -->
    <link rel="stylesheet" href="/user_files/css/plugins/swiper-bundle.min.css">
    <link rel="stylesheet" href="/user_files/css/plugins/font-awesome.min.css">
    <link rel="stylesheet" href="/user_files/css/plugins/simple-line-icons.css">
    <link rel="stylesheet" href="/user_files/css/plugins/fancybox.min.css">
    <link rel="stylesheet" href="/user_files/css/plugins/nice-select.css">
    <link rel="stylesheet" href="/user_files/css/plugins/range-slider.css">

    <!-- Style CSS -->
    <link rel="stylesheet" href="/user_files/css/style.css">

</head>

<body>
    <div class="wrapper">
        <main class="main-content">
            <!--== Start Page Header Area Wrapper ==-->
            <div class="page-header-area">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="page-header-content">
                                <h2 class="page-header-title">Page Not Found</h2>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item active" aria-current="page">404 //</li>
                                    <li class="breadcrumb-item"><a href="/">Goto Home</a></li>
                                </ol>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="page-header-thumb">
                                <img src="images/page-title.png" alt="Image-HasTech" width="546" height="281">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--== End Page Header Area Wrapper ==-->

            <!--== Start Page Not Found Area Wrapper ==-->
            <div style="min-height: 90vh;" class="page-not-found-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 m-auto">
                            <div class="error-content text-center">
                                <h1>We Are Sorry, Page Not Found</h1>
                                <p>Unfortunately the page you were looking for could not be found. It may be temporarily
                                    unavailable, moved or no longer exist. Check the Url you entered for any mistakes
                                    and try again. <a class="d-block" href="/">Back to Homepage</a> </p>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--== End Page Not Found Area Wrapper ==-->

        </main>
        <!--== Start Footer Area Wrapper ==-->
        <footer class="footer-area">
            <div class="container">
                <div class="footer-bottom">
                </div>
            </div>
        </footer>

        <!--== End Footer Area Wrapper ==-->
        <!-- Vendors JS -->
        <script src="/user_files/js/vendor/modernizr-3.11.7.min.js"></script>
        <script src="/user_files/js/vendor/jquery-3.6.0.min.js"></script>
        <script src="/user_files/js/vendor/jquery-migrate-3.3.2.min.js"></script>
        <script src="/user_files/js/vendor/bootstrap.bundle.min.js"></script>

        <!-- Plugins JS -->
        <script src="/user_files/js/plugins/swiper-bundle.min.js"></script>
        <script src="/user_files/js/plugins/fancybox.min.js"></script>
        <script src="/user_files/js/plugins/jquery.nice-select.min.js"></script>
        <script src="/user_files/js/plugins/jquery.countdown.min.js"></script>
        <script src="/user_files/js/plugins/isotope.pkgd.min.js"></script>
        <script src="/user_files/js/plugins/range-slider.js"></script>

        <!-- Custom Main JS -->
        <script src="/user_files/js/main.js"></script>

</body>


<!-- Mirrored from htmldemo.net/elehaus/elehaus/shop.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 07 Sep 2022 13:41:36 GMT -->

</html>