<main class="main-content">
    <!--== Start Page Header Area Wrapper ==-->

    <!--== End Page Header Area Wrapper ==-->

    <!--== Start Product Filter Area Wrapper ==-->
    <div style="min-height: 80vh;" class="product-area section-two-space">
        <div class="product-area">
            <div id="refreshh" class="container">
                <div class="row">
                    <div class="d-md-flex align-items-md-center height-100vh--md">
                        <div class="container text-center space-2 space-3--lg mt-5 pt-5">
                            <div class="w-md-80 w-lg-60 text-center mx-md-auto mt-5">
                                <div class="mb-5">
                                    <img class="mb-3" style="width:10% ;" src="user_files/images/tickmark.png"
                                        alt="empty cart image">
                                    <h1 class="h2">Order placed successfully</h1>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <a class="flex-c-m stext-101 cl0 sized-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer"
                                        href="/order-details/{{order}}">Order details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!--== End Product Filter Area Wrapper ==-->

</main>